.print {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #05050549;
}

.print-container {
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: white;

}

.print * {
  color: black;
}

.title {
  border: 2px solid black;
  border-radius: 5px;
  padding: 7px;
  letter-spacing: 2px;
}

table.item {
  margin: 10px auto;
}