.login-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.email-wrapper {
  display: flex;
  flex-direction: column;
}

.email-wrapper > * {
  margin: 15px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.login-page-button-wrapper {
  align-self: flex-end;
  display: flex;
  user-select: none;
}

.lp-button {
  width: 100px;
  margin: 0 10px;
}

.password-reset {
  margin: 15px;
  font-size: 1.25rem;
  align-self: flex-end;
  color: var(--blue5);
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

@media only screen and (max-width: 500px) {
  .login-wrapper {
    width: 80vw;
  }
}

@media only screen and (max-width: 300px) {
  .login-page-button-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}
