.main-container {
  display: flex;
  height: 80vh;
  width: 75vw;
  margin: 0 auto;
  overflow-y: auto;
  position: relative;
}

.main-container > .ref {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  display: block;
}

@media only screen and (max-width: 650px) {
  .main-container {
    display: flex;
    height: 80vh;
    width: 60vw;
    margin: 0 auto;
    overflow-y: auto;
  }
}
