.db-table-wrapper {
  height: 90%;
  width: calc(100vw - var(--nav-width));
}

.db-table {
  table-layout: fixed;
  white-space: nowrap;
  margin: 0 auto;
  border-collapse: collapse;
  width: auto;
  max-height: 90%;
  overflow-y: scroll;
}

.db-total {
  position: absolute;
  text-align: center;
  font-size: 25px;
  top: 1rem;
  left: 0rem;
  width: 250px;
  overflow: hidden;
}

.db-total > div {
  font-size: 15px;
}

.db-table th,
.db-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
  color: black;
  border: 2px solid black;
  font-size: 1.5rem;
}

.db-table th {
  background-color: var(--blue4);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.db-table thead {
  font-weight: 500;
  position: sticky;
  top: 0;
}

.db-id {
  width: 25%;
  position: relative;
  overflow: visible;
}

.db-id > p {
  overflow: hidden;
}

.db-id > span {
  display: none;
  position: absolute;
  z-index: 4;
  background-color: var(--blue5);
  color: var(--blue2);
}

.db-id:focus > span {
  display: block;
}

.db-cus-name {
  width: 25%;
}

.db-ph {
  width: 25%;
}

.db-due {
  width: 25%;
}

.db-table-save {
  position: fixed;
  bottom: 10px;
  padding: 10px;
  left: 50%;
}
