.db-table {
  table-layout: fixed;
  white-space: nowrap;
  margin: auto;
  border-collapse: collapse;
}

.db-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
  color: black;
  border: 2px solid black;
  font-size: 1.5rem;
}

.db-table thead {
  font-weight: 500;
}

.db-id {
  width: 25%;
  position: relative;
  overflow: visible;
}

.db-id > p {
  overflow: hidden;
}

.db-id > span {
  display: none;
  position: absolute;
  z-index: 4;
  background-color: var(--blue5);
  color: var(--blue2);
}

.db-id:focus > span {
  display: block;
}

.db-cus-name {
  width: 25%;
}

.db-ph {
  width: 25%;
}

.db-due {
  width: 25%;
}
