.footer {
  display: flex;
  width: 100vw;
  margin: auto;
  align-content: center;
  height: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.footer button {
  margin: 10px 25px;
}
