.db-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: auto;
  position: relative;
}

.db-container > .list-all {
  position: absolute;
  right: 10%;
  padding: 10px;
}

.db-container > .main {
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
  height: 50px;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
