.db-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: auto;
  position: relative;
}
.db-container > .list-all {
  position: absolute;
  right: 20%;
  top: 35px;
  padding: 15px;
}
